<div nz-row>
    <div nz-col nzSm="24" nzMd="24" nzLg="24" nzXl="24">
      <h3 class="primary-color-font">Wallet Load</h3>
      <p>Manage your wallet load request</p>
    </div>
  </div>
  <div nz-row>
    <div
      nz-col
      nzSm="24"
      nzMd="24"
      nzLg="6"
      nzXl="6"
      *ngFor="let item of balanceCards"
    >
      <nz-card
        class="primary-color-border-card"
        [ngClass]="item.bgClass"
        [routerLink]="item.routerLink"
      >
        <p>{{ item.title }}</p>
        <h1>{{ item.text }}</h1>
        <p *ngIf="item.showDetail">
          <span>
            {{ item.desc }}
            &nbsp;<i nz-icon nzType="arrow-right" nzTheme="outline"></i>
          </span>
        </p>
        <div *ngIf="!item.showDetail" style="height: 40px;"></div>
      </nz-card>
    </div>
  </div>
  <br />
  <div nz-row>
    <div nz-col nzSm="24" nzMd="24" nzLg="24" nzXl="24">
      <nz-table
        #nzTable
        [nzData]="walletLoadRequests"
        [nzScroll]="{ y: '240px' }"
      >
        <thead>
          <tr>
            <th nzWidth="220px">Amount </th>
            <th nzWidth="220px">balance</th>
            <th nzWidth="120px">Date</th>
            <th nzWidth="180px">Status</th>
            <th nzWidth="150px">Type</th>
            <th nzWidth="150px">Claim Amount</th>
            <th>Actions</th>
            <!-- <th></th>
          <th></th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of nzTable.data | filter: searchText">
            <td>{{ data.fl_req_amount }}</td>
            <td></td>

          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
