<div nz-row>
    <div nz-col nzSm="24" nzMd="24" nzLg="24" nzXl="24">
      <h3 class="dark-blue">My Ledger</h3>
      <p>Get Ledger By Date</p>
    </div>
  </div>
  <div nz-row >
    <nz-card class="blue-border-card text-center">
      <div nz-row>
        <h4>VIEW LEDGER BY DATE</h4>
      </div>
      <br>
      <div nz-row>
        <nz-range-picker [nzFormat]="dateFormat"></nz-range-picker>&nbsp;&nbsp;
        <button nz-button nzType="primary">Get My Ledgers</button>
      </div>
    </nz-card>
  </div>
  