
.phone-select {
       width: 70px;
     }

.text-center {
       text-align: center;
     }
.koppr-image1 {
  height: auto;
  width: 100%;
}

.blue-border-card {
  border: none !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}