.phone-select {
  width: 70px;
}

.koppr-image1 {
  height: auto;
  width: 100%;
}

.primary-color-border-card {
  border: none !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}