<div nz-row>
  <div nz-col nzSm="24" nzMd="24" nzLg="24" nzXl="24">
    <h3 class="primary-color-font">Transactions</h3>
    <p>View and Manage your Transactions here.</p>
  </div>
</div>
<div nz-row>
  <div nz-col nzSm="24" nzMd="24" nzLg="8" nzXl="8">
    <nz-input-group class="full-width" [nzSuffix]="suffixIconSearch">
      <input
        type="text"
        [(ngModel)]="searchText"
        nz-input
        placeholder="Search"
      />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <i nz-icon nzType="search"></i>
    </ng-template>
  </div>
  <div nz-col nzSm="24" nzMd="24" nzLg="2" nzXl="2"></div>
  <div nz-col nzSm="24" nzMd="24" nzLg="8" nzXl="8">
    <nz-range-picker
      [(ngModel)]="dateRange"
      (ngModelChange)="onDateChange($event)"
      class="full-width"
    ></nz-range-picker>
    <!-- <nz-range-picker [nzRanges]="ranges1" ngModel (ngModelChange)="onChange($event)"></nz-range-picker> -->
  </div>
  <div nz-col nzSm="24" nzMd="24" nzLg="2" nzXl="2"></div>
  <div nz-col nzSm="24" nzMd="24" nzLg="4" nzXl="4">
    <nz-select
      [(ngModel)]="selectedValue"
      (ngModelChange)="onTxnTypeChange($event)"
      nzAllowClear
      nzPlaceHolder="Choose"
      class="full-width"
    >
      <nz-option
        *ngFor="let option of optionList"
        [nzValue]="option"
        [nzLabel]="option.label"
      ></nz-option>
    </nz-select>
  </div>
</div>
<br />
<div nz-row>
  <div nz-col nzSm="24" nzMd="24" nzLg="24" nzXl="24">
    <nz-table
      #nzTable
      nzSize="middle"
      [nzData]="walletTransactionList"
      [nzScroll]="{ y: '240px' }"
      [nzFrontPagination]="false"
    >
      <thead>
        <tr>
          <th nzWidth="120px">Type</th>
          <th nzWidth="120px">Amount</th>
          <th nzWidth="120px">Mode</th>
          <th nzWidth="220px">Transaction ID</th>
          <th nzWidth="120px"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          (click)="viewTransactionsRoute(data)"
          *ngFor="let data of nzTable.data | filter: searchText"
        >
          <td>{{ data.wl_tr_type }}</td>
          <td>{{ data.trn_amount }}</td>
          <td>{{ data.wl_tr_mode }}</td>
          <td>{{ data.wl_tr_id }}</td>
          <td>
            <i
              nz-icon
              nzType="right"
              nzTheme="outline"
              style="font-size: 16px;"
            ></i>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <br />
    <div nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="text-right">
      <button nz-button nzType="info" nzSize="small">View more</button>
    </div>
  </div>
</div>
