<div nz-row>
  <div nz-col nzSm="24" nzMd="24" nzLg="12" nzXl="12">
    <h1 class="primary-color-font text-center">
      MONEY TRANSFER & BILL PAYMENTS
    </h1>
    <!-- <h2 class="medium-color-font text-center">
      Simplest and fastest way to recharge and pay bills for all your mobile,<br>
      DTH and other utilities at a single location.
    </h2> -->
    <br />
    <nz-card class="primary-color-border-card">
      <img
        alt="example"
        class="koppr-image1"
        src="assets\images\online_payment.jpg"
    /></nz-card>
    <br />
    <div nz-row>
      <p class="text-center">
        Need help with your Enviar Account? Get in touch
      </p>
      <div nz-col nzSm="12" nzMd="12" nzLg="12" nzXl="12">
        <h4 class="light-color-font text-center">
          <a href="tel:+918879600206">(+91) mob no.</a>
        </h4>
      </div>
      <div nz-col nzSm="12" nzMd="12" nzLg="12" nzXl="12">
        <h4 class="light-color-font text-center">
          <a href="mailto:care@koppr.in">care@enviar.in</a>
        </h4>
      </div>
    </div>
  </div>
  <div nz-col nzSm="24" nzMd="24" nzLg="12" nzXl="12">
    <div nz-row>
      <div nz-col nzSm="24" nzMd="24" nzLg="5" nzXl="5"></div>
      <div nz-col nzSm="24" nzMd="24" nzLg="16" nzXl="16">
        <signin-component-inner>
          <nz-alert
            *ngIf="verify == 'verify'"
            nzType="error"
            nzMessage=" We have sent you a verification link, Please verify and sign in here."
          ></nz-alert>
          <h2 class="medium-color-font">
            Sign in to for your Enviar account
          </h2>
        </signin-component-inner>
      </div>
      <div nz-col nzSm="24" nzMd="24" nzLg="3" nzXl="3"></div>
    </div>
  </div>
</div>
