<div nzSm="24" nzMd="24" nzLg="24" nzXl="24">
  <ng-content></ng-content>
  <form
    nz-form
    [formGroup]="signInForm"
    class="login-form"
    (ngSubmit)="login()"
  >
    <nz-form-item class="text-center">
      <nz-form-control nzErrorTip="Please input your username!">
        <nz-input-group nzPrefixIcon="user">
          <input
            type="text"
            nz-input
            formControlName="email"
            placeholder="Email"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="text-center">
      <nz-form-control nzErrorTip="Please input your Password!">
        <nz-input-group nzPrefixIcon="lock">
          <input
            type="password"
            nz-input
            formControlName="password"
            placeholder="Password"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row class="text-center">
      <nz-form-control>
        <label>
          <span>
            <a class="medium-color-font" [routerLink]="['/', 'forgot-password']">Forgot Password?</a>
            </span
          >
        </label>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="text-center">
      <nz-form-control>
        <button  
        class="login-form-button"
        nz-button 
        nzShape="round"
        nzType="primary"
        nzSize="size" >
          Sign In
        </button>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row class="text-center">
      <nz-form-control>
        <label>
          <span
            >Don't have Enviar Account? Sign Up
            <a class="medium-color-font"
              >here</a
            ></span
          >
        </label>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
