.login-form {
  max-width: 300px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.text-center {
  text-align: center;
}
.koppr-image1 {
  height: 100%;
  width: 100%;
} 

.blue-border-card {
  border: none !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}