.login-form {
  max-width: 400px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.card-image {
  height: auto;
  width: 100%;
} 

.card-div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}