<div nz-row>
    <div nz-col nzSm="24" nzMd="24" nzLg="24" nzXl="24">
      <a class="green-back-button"  [routerLink]="['/', 'retailer']" ><img class="back-img" src="assets/images/back-button.svg">&nbsp;&nbsp;BACK</a>
      <br>
      <h3 class="dark-blue">Add New Retailer</h3>
      <p>Add a new retailer here</p>
    </div>
    <div nz-col nzSm="24" nzMd="24" nzLg="24" nzXl="24">
      <h3>Retailer Details</h3>
      <div nz-row>
        <div nz-col nzSm="24" nzMd="24" nzLg="3" nzXl="3"></div>
        <div nz-col nzSm="24" nzMd="24" nzLg="21" nzXl="21">
          <div nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="text-center">
            <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
              <nz-form-item> 
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="kitsAvailable">Kits Available</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                  <input nz-input formControlName="kitsAvailable" id="kitsAvailable" [disabled]="true"/>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item> 
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="first_name">First Name</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please enter First Name.">
                  <input nz-input formControlName="first_name" id="first_name"/>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item> 
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="last_name">Last Name</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please enter Last Name.">
                  <input nz-input formControlName="last_name" id="last_name"/>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item> 
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="company_name">Company Name</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please enter Company Name.">
                  <input nz-input formControlName="company_name" id="company_name"/>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phoneNumber" nzRequired>Phone Number</nz-form-label>
                <nz-form-control
                  [nzSm]="14"
                  [nzXs]="24"
                  [nzValidateStatus]="validateForm.controls['phoneNumber']"
                  nzErrorTip="Please input your phone number!"
                >
                  <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
                    <ng-template #addOnBeforeTemplate>
                      <nz-select formControlName="phoneNumberPrefix" class="phone-select">
                        <nz-option nzLabel="+91" nzValue="+91"></nz-option>
                      </nz-select>
                    </ng-template>
                    <input formControlName="phoneNumber" id="'phoneNumber'" nz-input />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail.">
                  <input nz-input formControlName="email" id="email" />
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="dateOfBirth">Date of Birth</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                  <nz-date-picker formControlName="dateOfBirth"></nz-date-picker>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item> 
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="pan">PAN</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please enter PAN.">
                  <input nz-input formControlName="pan" id="pan"/>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item> 
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="aadhaarNo">Aadhaar No</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please enter Aadhaar No.">
                  <input nz-input formControlName="aadhaarNo" id="aadhaarNo"/>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item> 
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="voterId">Voter ID No</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please enter VoterID No.">
                  <input nz-input formControlName="voterId" id="voterId"/>
                </nz-form-control>
              </nz-form-item>              
              <nz-form-item nz-row class="register-area">
                <nz-form-control [nzSpan]="14" [nzOffset]="6">
                  <button nz-button nzType="primary">Create Retailer</button>
                </nz-form-control>
              </nz-form-item>
            </form>
          </div>
        </div>
      </div>
   </div>
  </div>
  <br><br>