<div nz-row>
  <h1 class="dark-blue text-center">
    Welcome to Enviar
  </h1>
  <br /><br />
  <div nz-col nzSm="24" nzMd="24" nzLg="12" nzXl="12">
    <div nz-row>
      <div nz-col nzSm="24" nzMd="24" nzLg="5" nzXl="5"></div>
      <div nz-col nzSm="24" nzMd="24" nzLg="14" nzXl="14" class="card-div">
        <mat-card class="login-card">
          <div class="div-center">
            <h2 class="text-center">
              Distributor  
            </h2>
            <nz-avatar
              [nzSize]="85"
              nzIcon="user"
              class="account-avatar"
            ></nz-avatar>
            <br />

            <button
              nz-button 
              nzSize="size"
              nzType="primary"
              nzShape="round" 
              class="margin-5px"
            >
            &nbsp;&nbsp;&nbsp;&nbsp;Sign In&nbsp;&nbsp;&nbsp;&nbsp;
            </button>
          </div>
        </mat-card>
      </div>
      <div nz-col nzSm="24" nzMd="24" nzLg="5" nzXl="5"></div>
    </div>
  </div>

  <div nz-col nzSm="24" nzMd="24" nzLg="12" nzXl="12">
    <div nz-row>
      <div nz-col nzSm="24" nzMd="24" nzLg="5" nzXl="5"></div>
      <div nz-col nzSm="24" nzMd="24" nzLg="14" nzXl="14" class="card-div">
        <mat-card class="login-card">
          <div class="div-center">
            <h2 class="text-center">
              Retailer
            </h2>
            <nz-avatar
              [nzSize]="85"
              nzIcon="user"
              class="account-avatar"
            ></nz-avatar>
            <br />
            <button
              class="margin-5px"
              nz-button
              nzShape="round"
              nzType="primary"
              nzSize="size"
              [routerLink]="['/', 'signin']"
            >
            &nbsp;&nbsp;&nbsp;&nbsp;Sign In&nbsp;&nbsp;&nbsp;&nbsp;
            </button> 
            <button
              class="btn-sign-up margin-5px"
              nz-button
              nzType="default"
              nzSize="size"
              nzShape="round"
              [routerLink]="['/', 'signup']"
            >
            &nbsp;&nbsp;&nbsp;&nbsp;Sign Up&nbsp;&nbsp;&nbsp;&nbsp;
            </button>
          </div>
        </mat-card>
      </div>
      <div nz-col nzSm="24" nzMd="24" nzLg="5" nzXl="5"></div>
    </div>
  </div>
</div>
<br />
<br />
<br />
<div nz-row>
  <p class="text-center">
    Need help with your Enviar Account? Get in touch
  </p>
  <div nz-col nzSm="12" nzMd="12" nzLg="12" nzXl="12">
    <h4 class="light-blue text-center">
      <a href="tel:+918879600206">(+91) Mob no.</a>
    </h4>
  </div>
  <div nz-col nzSm="12" nzMd="12" nzLg="12" nzXl="12">
    <h4 class="light-blue text-center">
      <a href="mailto:care@koppr.in">care@enviar.in</a>
    </h4>
  </div>
  <br><br><br>
</div>
