<mat-card class="primary-color-border-card">
  <mat-grid-list cols="4" rowHeight="1:1">
    <mat-grid-tile> 
      <mat-card class="payment-card">
        <mat-icon style="color:white">swap_horiz</mat-icon>
        <mat-card-content>Money Transfer</mat-card-content>    
      </mat-card>
    </mat-grid-tile> 
    <mat-grid-tile> 
      <mat-card class="payment-card">
        <mat-icon style="color:white">swap_horiz</mat-icon>
        <mat-card-content>Money Transfer</mat-card-content>    
      </mat-card>
    </mat-grid-tile> 
    <mat-grid-tile> 
      <mat-card class="payment-card">
        <mat-icon style="color:white">swap_horiz</mat-icon>
        <mat-card-content>Money Transfer</mat-card-content>    
      </mat-card>
    </mat-grid-tile> 
    <mat-grid-tile> 
      <mat-card class="payment-card">
        <mat-icon style="color:white">swap_horiz</mat-icon>
        <mat-card-content>Money Transfer</mat-card-content>    
      </mat-card>
    </mat-grid-tile> 
    <mat-grid-tile> 
      <mat-card class="payment-card">
        <mat-icon style="color:white">swap_horiz</mat-icon>
        <mat-card-content>Money Transfer</mat-card-content>    
      </mat-card>
    </mat-grid-tile> 
    <mat-grid-tile> 
      <mat-card class="payment-card">
        <mat-icon style="color:white">swap_horiz</mat-icon>
        <mat-card-content>Money Transfer</mat-card-content>    
      </mat-card>
    </mat-grid-tile> 
    <mat-grid-tile> 
      <mat-card class="payment-card">
        <mat-icon style="color:white">swap_horiz</mat-icon>
        <mat-card-content>Money Transfer</mat-card-content>    
      </mat-card>
    </mat-grid-tile> 
    <mat-grid-tile> 
      <mat-card class="payment-card">
        <mat-icon style="color:white">swap_horiz</mat-icon>
        <mat-card-content>Money Transfer</mat-card-content>    
      </mat-card>
    </mat-grid-tile> 
  </mat-grid-list>
</mat-card>
<br><br>